body
{
    margin: 0;
    padding: 0;
}

.bg-page
{
    background-color: #000;
    width: 100vw;
}
.bg-image
{
    background-image: url("/Users/keylaanguiano/Documents/UG/SEXTO SEMESTRE/COMPUTO EN LA NUBE/NETFLIX DUPE/Netflix_dupe/ASSETS/IMAGES/bg.png");
    width: 100vw;
    height: 500vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}